<div class="main-content row col-sm-12">
  <div class="buttons-header row col-sm-12">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div *ngIf="(cards | async)?.length > 0" class="card-deck col-sm-12">
    <div *ngFor="let card of cards | async">
      <app-card [card]="card"></app-card>
    </div>
  </div>  
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <app-create-card></app-create-card>
</div>