<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Create new card</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="name">Name</label>
            <div class="col-sm-9">
              <input [(ngModel)]="card.title" name="title" class="form-control" id="name" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="description">Description</label>
            <div class="col-sm-9">
              <input [(ngModel)]="card.description" name="description" class="form-control" id="description" placeholder="Description">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="image">Image</label>
            <div class="col-sm-9">
              <input [(ngModel)]="card.image" name="image" class="form-control" id="image" placeholder="Image">
            </div>
          </div>
          
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" (click)="triggerSave()" data-dismiss="modal">Create Card</button>
    </div>
  </div>
</div>


